[submodule "src/crates/gdb-remote"]
	path = src/crates/gdb-remote
	url = https://github.com/emoon/gdb-remote
[submodule "src/native/external/scintilla"]
	path = src/native/external/scintilla
	url = https://github.com/emoon/scintilla
[submodule "src/native/external/bgfx"]
	path = src/native/external/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "src/native/external/bx"]
	path = src/native/external/bx
	url = https://github.com/bkaradzic/bx.git
