__common: &common
  language: rust
  rust: stable
  cache: cargo

matrix:
  include:
    os: linux
    dist: trusty
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - g++-6
    env: COMPILER=g++-6
    script:
    - sudo add-apt-repository ppa:beineri/opt-qt57-trusty --yes
    - sudo apt-get update
    - sudo apt-get install qt57base mesa-common-dev
    - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-6 90;
    - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-6 90;
    - git clone https://github.com/deplinenoise/tundra.git
    - cd tundra
    - make
    - sudo make install
    - cd ..
    - export QT5=/opt/qt57; g++ --version ; tundra2 -v linux-gcc-debug
